<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Color Picker</title>
</head>
<body>
  <h1>Color Picker</h1>
  <div class="color-picker">
    <div class="controls">
      <div class="control-group">
        <label for="red">Red:</label>
        <input type="range" id="red" min="0" max="255" value="0">
        <input type="text" id="red-input" value="0">
      </div>
      <div class="control-group">
        <label for="green">Green:</label>
        <input type="range" id="green" min="0" max="255" value="0">
        <input type="text" id="green-input" value="0">
      </div>
      <div class="control-group">
        <label for="blue">Blue:</label>
        <input type="range" id="blue" min="0" max="255" value="0">
        <input type="text" id="blue-input" value="0">
      </div>
      <div class="control-group">
        <label for="hex">HEX:</label>
        <input type="text" id="hex" value="#000000">
      </div>
    </div>
    <div class="color-display">
      <div id="color-preview"></div>
    </div>
  </div>
  <script>
    const redSlider = document.getElementById('red');
    const greenSlider = document.getElementById('green');
    const blueSlider = document.getElementById('blue');
    const redInput = document.getElementById('red-input');
    const greenInput = document.getElementById('green-input');
    const blueInput = document.getElementById('blue-input');
    const hexInput = document.getElementById('hex');
    const colorPreview = document.getElementById('color-preview');

    function updateColor() {
      const red = redSlider.value;
      const green = greenSlider.value;
      const blue = blueSlider.value;
      const hexColor = `#${Number(red).toString(16).padStart(2, '0')}${Number(green).toString(16).padStart(2, '0')}${Number(blue).toString(16).padStart(2, '0')}`;

      redInput.value = red;
      greenInput.value = green;
      blueInput.value = blue;
      hexInput.value = hexColor;
      colorPreview.style.backgroundColor = hexColor;
    }

    redSlider.addEventListener('input', updateColor);
    greenSlider.addEventListener('input', updateColor);
    blueSlider.addEventListener('input', updateColor);
    hexInput.addEventListener('input', () => {
      const hex = hexInput.value.replace(/[^0-9a-fA-F]/g, '');
      redSlider.value = parseInt(hex.slice(1, 3), 16);
      greenSlider.value = parseInt(hex.slice(3, 5), 16);
      blueSlider.value = parseInt(hex.slice(5, 7), 16);
      updateColor();
    });

    updateColor();
  </script>
</body>
</html>
