body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
  }
  
  h1 {
    color: #333;
  }
  
  .color-picker {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    max-width: 400px;
  }
  
  .controls input {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .color-display {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }
  
  #color-preview {
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
  }
  